body{margin: 0px; padding: 0px;}

a:focus, a:hover {text-decoration: none!important;}
.padd{padding: 0px;}
.mar{margin:0px;}
.clr{clear: both;}
.top-spc1{ margin-top:10px;}
.top-spc2{ margin-top:20px;}
.top-spc3{ margin-top:30px;}
.top-spc4{ margin-top:40px;}
.top-spc5{ margin-top:50px;}
.top-spc6{ margin-top:60px;}
.top-spc7{ margin-top:70px;}
.top-spc8{ margin-top:80px;}
.top-spc9{ margin-top:90px;}

.bott-spc{margin-bottom: 20px;}
.bott-spc2{margin-bottom: 30px;}
.h4, h4 { font-size: 18px;}
.top-area{ background: #222222; padding: 8px 0;}
.top-cont{}
.top-cont ul{margin:0px; padding: 0px;}
.top-cont ul li{ font-size: 14px; color: #fff; padding: 0 10px; display: inline; }
.top-cont  ul li .fa{ font-size: 14px; color: #fff; margin-right:5px;  }
.login-cont{ float: right; }
.login-cont ul{margin:0px; padding: 0px; color: #fff;}
.login-cont ul li{ font-size: 14px; color: #fff; padding: 0 10px; display: inline; text-align: right; }
.login-cont  ul li .fa{ font-size: 14px; color: #fff; margin-right:5px;  }
.login-cont  ul li a{color: #fff; text-decoration: none;}
.login-cont  ul li a:hover{color: #fff; text-decoration: none;	}


.section1{}


.heading h1{font-size: 30px; text-align: center; font-weight: 600;}
.heading h1 : :before{background-color: #000; width: 100px; height: 5px; text-align: center;  }
.sub-heading h4{font-size: 16px; text-align: center; margin-top: 15px; line-height: 30px; color: #666666;}
.feature-box{ background-color: #fff; box-shadow: 0px 0px 5px #797575; padding: 40px 20px 20px 20px; margin-top: 40px;}
.feature-box .cricle{ width: 100px; height: 100px; border: 1px solid #797575; border-radius:60%; margin-right:auto; margin-left: auto; vertical-align: middle; }
.feature-box .cricle .icon{ width: 50px; height: 50px; text-align: center; margin-left: auto; margin-right: auto; margin-top: 23%;}
.feature-box .text-heading{ text-align: center; font-size: 18px; margin: 40px 0; }
.feature-box .text-sub{ text-align: center; font-size: 16px; color: #6c6c6c;margin: 20px 0;}
.feature-box .read{text-align: center; font-size: 16px; color: #6c6c6c; font-weight: 600; margin-top: 40px;}
.feature-box .read a{text-decoration: none; color:#292929;}
.feature-box .read a:hover{ color:#292929;  }
.feature-box2-bg{background: url(../images/bg-bottom.jpg)repeat; width: 100%; padding-top: 10px; padding-bottom: 50px;}
.feature-box2{ background-color: #fff; box-shadow: 0px 0px 5px #797575; padding: 40px 20px 20px 20px; margin-top: 80px;}
.feature-box2 .text-sub2{ text-align: left; font-size: 16px; color: #6c6c6c; margin-top: 60px; margin-bottom: 20px;}
.feature-box2 .image-box{position: absolute; width: 150px; height: 150px; top: 0; border: 1px solid #816247;}
.feature-box2 .image-box img{ width: 100%; height: 100%; }
.feature-box2 .read{text-align: left; font-size: 16px; color: #6c6c6c; font-weight: 600; margin-top: 40px;}
.feature-box2 .read a{text-decoration: underline; color:#292929;}
.feature-box2 .read a:hover{ color:#292929;}

.section2{background: url(../images/banner.jpg)no-repeat; margin-top: 50px;}
.section2-overlay{background: rgba(0,0,0,0.7); padding: 80px 0;}
.section2-overlay .leftbar{background: rgba(255,255,255,0.5); height: 100px; width: 10px; margin-right: 20px; float: left;}
.section2-overlay .leftside{ font-size: 28px; color: #fff; font-weight: 600; line-height: 48px;}
.section2-overlay .leftside span{ font-size: 18px; color: #fff; line-height: 24px!important; margin-top: 30px;}
.section2-overlay .rightside{ font-size: 16px; color: #b3b3b3; font-weight: 400; line-height: 26px;}

.section3{}
.section3 .boxhover{ width: 100%; margin: 0px; }
.section3 .boxhover img{width: 100%; height: 500px;}
.section3 .boxhover img:hover{background-color:}


.course{text-align:center;color:green;}
.course1{text-align:center;	font-family:Bradley Hand ITC;}
.cours2{margin-top:0px; height: 500px;}
.cours2 img{width: 100%; margin-top:0px; height: 500px!important; transition:1s;}
.cours2{position:relative;margin-bottom:0px;}
.cours3{-border:1px solid red;position:absolute;top:-100px;opacity:0;-bottom:100px;-background-color:rgba(142,198,63,.8);background-color:rgba(0,0,0,0.3);
color:white;padding:10px;}
.cours2:hover .cours3{opacity:1;top:0px;transition:1s; width:100%;height:50px; margin-top: 450px;}
.cours4{position:absolute;	-border:1px solid red;-margin-top:-80px;padding-top:20px;width:100%;height:80px;opacity:0;bottom:-50px;	-background-color:rgba(142,198,63,.8);
background-color:rgba(0,0,0,0.3);}
.cours2:hover .cours4{opacity:1;bottom:0;transition:1s;}
.cours2:hover .hover{transform:scale(1.3);transition:1s;}
.cours7{border:1px solid rgb(73,183,43);background-color:rgb(73,183,43);color:white;font-size:18px;	padding:10px 15px;	border-radius:5px 20px;}
.cours7:hover{	background-color:transparent;	color:rgb(73,183,43);	border:1px solid rgb(73,183,43);	transition:1s;}
.cou:hover{	background-color:transparent !important;	color:rgb(237,78,110) !important;	border:1px solid rgb(237,78,110) !important;}

.section4{}
.section4 .leftbar{background: rgba(0,0,0,0.1); height: 60px; width: 10px; margin-right: 20px; float: left; margin-top: 10px;}
.section4 .leftside{ font-size: 20px; color: #000; font-weight: 600; line-height: 30px; padding-right: 20px; margin-left: 50px; padding:50px;}
.section4 .leftside .text{ font-size: 16px; color: #656565; line-height: 24px!important; margin-top: 30px;}
.section4 .pic{}
.section4 .pic img{width: 100%; height: 200px;}
.section4 .right-box{background-color: #000; padding: 32px 32px; }
.section4 .right-box .colour1{background-color: #000;}
.section4 .right-box h3{color: #fff; font-size: 18px; font-weight: 400;}
.section4 .right-box .fa{color: #fff; font-size: 16px; font-weight: 400; margin-right: 10px;}
.section4 .right-box p{font-size: 14px; color: #908d8d; line-height: 24px;}

.section5{}
.section5 .leftbarimag{ height: 500px; }
.section5 .leftbarimag img{width: 100%; height: 500px;}
ul { list-style-type: none; }
.footer-box{background-image: url('../images/footer-bg.jpg'); color: #fff; padding-top: 3em; padding-bottom: 3em; }
.footer-box h5{ color: #fff; font-size: 18px; text-transform: uppercase; }
.footer-box h6{ color: #fff; font-size: 16px; text-transform: uppercase; margin-top: 20px; }
.footer-box p{ color: #908d8d; }
.btn{ background-color: #69635e; color: #FFF;}
.testimonioal{height: 300px; padding-top: 60px; background-color: #ffffff;}
.payment-box{background-image: url('../images/banner.jpg'); background-size: cover; background-repeat: no-repeat; padding: 120px 0 120px 0; }
.payment-box .inner{padding: 70px 0; background-color: rgba(0,0,0,0.5);  position: relative; }
.payment-box .inner .fa{font-size:48px; color: yellow; margin-top: 10px;}
.box{height: 200px;background-color: #222222;}
.box img{width: 100%; height: 100%;} 
.shdw{background-color: #fff; margin-top: 60px;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  padding: 20px; position: absolute;
      right: 200px; z-index: 1;}
.shdw h3{ color: #000; font-weight: 600; }
.testimonial_subtitle{color: #0aaa7a; font-size: 12px;}
 .testimonial_btn{ background-color: #373d4b !important; color: #fff !important; }
 .seprator {height: 2px; width: 56px; background-color: #0aaa7a; margin: 7px 0 10px 0;}

.footer-menu{margin-top: 20px;}
.footer-menu ul{margin:0px; padding: 0px}
.footer-menu ul li{list-style:none; font-size: 14px; color: #908d8d; padding:10px 0; display: block; } 
.footer-menu ul li a{color: #908d8d; text-decoration: none;}
.footer-menu ul li a:hover{color: #908d8d; text-decoration: none;}

 /*********************About-us**************************/
.about-banner{ width: 100%; }
.about-banner img{ width: 100%;}
.about-banner .inner{ width: 100%; background-color: rgba(0,0,0,0.5); position: absolute; top: 50%; font-size: 30px; color: #fff; text-align: center; padding: 30px 0; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; }
.about-middle{margin-top: 40px;}
.about-middle .tagline h1{ font-size: 30px; font-weight: 600; margin-bottom: 30px; text-transform: uppercase;}
.about-middle p{ font-size: 14px; color: #000; line-height: 24px; text-align: justify; }
.about-middle .about img{border-radius: 30pc;box-shadow: 5px 5px 5px #b9b9b9;}

.vision-mission{background: url(../images/banner.jpg)no-repeat; margin-top: 50px;}
.vision-mission-overlay{background: rgba(0,0,0,0.7); padding: 80px 0;}
.vision-mission-overlay .leftbar{background: rgba(255,255,255,0.5); height: 100px; width: 10px; margin-right: 20px; float: left;}
.vision-mission-overlay .leftside{ font-size: 28px; color: #fff; font-weight: 600; line-height: 48px;}
.vision-mission-overlay .leftside p{font-size: 14px; color: #b3b2b2; line-height: 24px; font-weight: 400;}
.vision-mission-overlay .leftside span{ font-size: 18px; color: #fff; line-height: 24px!important; margin-top: 30px;}
.vision-mission-overlay .rightside{ font-size: 16px; color: #b3b3b3; font-weight: 400; line-height: 26px;}
 /*********************project**************************/
.features-bg{background-color: #f3f2f2; padding-bottom: 50px; margin-top: 40px;}
.features ul{margin:0px; padding: 0px;}
.features ul li{list-style: disc; font-size: 14px; color: #000; padding: 8px 0;}
.layout{background:#f3f2f2 ; width: 100%; padding-bottom:30px;}
.layout .inner-box{margin-top: 20px; border:3px solid #000;}
.layout .inner-box .picture img{width: 100%;}
.layout .inner-box .pre{background-color: #000; color: #fff; padding:20px;}
.layout .inner-box .pre p{ font-size: 14px; color: #fff; margin-top: 10px; line-height: 20px; }
.layout .inner-box .pre .divi {
    border-bottom: 1px solid #555555;
    margin-bottom: 20px;
}
.layout .inner-box .pre .location {
      float: left;
    font-size: 16px;
    line-height: 30px;
    color: #debd63;  font-weight: 600;
    font-weight: 400;
   
}
.reg-btn{ background-color: #bd971a; padding: 20px; font-size: 20px; color: #fff; text-align: center; margin-top: 20px; border-radius: 5px;  }

.layout .inner-box .pre .location .fa{color: #debd63; font-size: 16px; margin-right: 10px;}
.layout .inner-box .pre .price {
    position: relative;
    float: right;
    font-size: 16px;
    line-height: 30px;
    color: #debd63;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.layout .inner-box .book{ width: 100%; font-size: 16px; font-weight: 600; text-transform: uppercase; background: #debd63; padding: 10px; text-align: center; color: #212020; }
.layout .inner-box .book:hover{background: #d3ac41;}
.panel-collapse p{padding:0 20px!important;}

.panel-default>.panel-heading {
    color: #232323;
    background-color: #fdfdfd!important;
    border-color: #afafaf!important;
}
.panel-title {line-height: 26px;}
.panel-default {    border-color: #debd63!important;}

 /*********************Blog Page**************************/

 .media-object{width: 150px; height: 100px; border: 2px solid #b49e41;}
 .media-object img{width: 100%;}
 .post-date{margin-top: 10px; font-size: 14px; color: #1f1e1e; font-weight: 600;}
 .post-date span{color: #b49e41;}
 .media-heading{margin-bottom: 10px!important; font-weight: 600;}
 .media-heading h4{font-weight: 600;}
 .read-post{ float: right; margin-top: 10px;  font-size: 14px; font-weight: 600; color:#b49e41;}
 .read-post a{color:#b49e41; text-decoration: none;}
 .read-post a:hover{color:#b49e41; text-decoration: none;}
 .divider-post{ width: 100%; height: 1px; background-color: #afaaaa; margin: 20px 0; }
 .pagination{margin-top: 40px!important;}
 .latest-bg{ background-color: #b49e41; padding: 20px; border-radius: 5px; }
  .latest-bg .heading-recent{ font-size: 24px; color: #000; text-transform: uppercase; }
 .latest-bg .innet-text{ margin-top: 10px; }

 .latest-bg .innet-text ul{list-style:circle; margin-left: 10px; padding: 0px; }
 .latest-bg .innet-text ul li{  font-size: 16px; color: #fff; line-height: 24px; padding: 10px 0 10px 0px;  border-bottom: 1px solid #FFF;  }